<!-- <footer class="navbar navbar navbar-dark bg-primary ">

  <div class="container-fluid text-center text-md-left">

    <div class="col-md-12 mt-md-0 mt-3">
        <h2 class="footer-links">Qualificação</h2>
    </div>
  </div>

  <div class="footer py-2 ">© 2018 Copyright:<a href="#"><strong>Sagittarius</strong> </a> </div>

</footer> -->


<footer class=" bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <h2 class="footer-links"><strong>Qualificação</strong></h2>
      </div>
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="footer-logo">
          <p>&copy;2018 Copyright: <a href="#"><strong>Sagittarius</strong> </a> </p>
        </div>
      </div>
    </div>
  </div>
</footer>