
/* footer {
    width:100%;
    color: white;
    position:absolute;
    bottom:0;
}

a{
    color: white;
}

.footer-logo {
    margin-top: 2px;
    float: left;
}

.footer-links  {
    line-height: 30px;
    list-style: none;
    float: left;
    font-size: 20px;
    margin-top: 2px;
} */

footer {
  background: #007bff;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-logo {
    margin-top: 16px;
    /* float: right; */
}

.footer-logo p {
    color: white;
}
