
.form-group-groupo{
    margin: 30px;
}

.IptSearch{
    padding-right: 50px;
    padding-left: 50px; 
}

.cabecalho{
    text-align: center;
    margin: 30px;
}

h5{
    margin-bottom: 30px;
}

.qualificacao{
    padding: 10px;
    text-align: center;
}
