<div class="container">

  <div class="cabecalho">
    <h1>Listar Funcionario</h1>

    <div class="row">
      <div class="input-group col-md-6 offset-md-3">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Buscar">
      </div>
    </div>
  </div>

  <!-- <ul *ngFor="let funcionario of funcionarios">
      <label class="form-check-label" for="exampleCheck1"><strong>{{funcionario.nome}}</strong></label>
  </ul> -->
  <table class="table">
    <thead class="thead-light  teste">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Cpf</th>
        <th scope="col">Empresa / Setor</th>
        <th scope="col">açao</th>
      </tr>
    </thead>
    <tbody *ngFor="let funcionario of funcionarios">
      <tr>
        <td>{{funcionario.id}}</td>
        <td>{{funcionario.nome}}</td>
        <td>{{funcionario.cpf}}</td>
        <td>{{funcionario.cpf}}</td>
        <button type="button" class="btn btn-outline-primary button" routerLink="/listar">Detalhar</button>
        <button type="button" class="btn btn-outline-info button" routerLink="/listar">editar </button>
        <button type="button" class="btn btn-outline-danger button" routerLink="/listar">Excluir </button>
      </tr>
    </tbody>
  </table>


</div>