<section class="content-header">
  <!-- <h1>Sobre</h1> -->
</section>


<section id="sectionAbout">
<div class="container">
    <h2 class="text-center text-uppercase text-primary h2text">SOBRE</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-md-7">
     <div class="about">
        <img [src]="'assets/about.jpg'" alt="" class="aboutImg">
     </div>
      </div>
      <div class="col-md-5">
       <div class="about-content">
        <h2>Qualificação</h2>
        <p>
            Sistema de validações e registro de conhecimentos dos funcionarios, onde o
            gestor
            pode registrar a ficha tecnica do funcionário e seus conhecimentos avaliando de acordo com seu desempenho.
        </p>
       </div>
      </div>
    </div>
</div>
</section>

