<div class="container corpo">

  <div class="cabecalho ">
    <h1 class="cabecalho">Cadastro Funcionario</h1>
  </div>


  <div class="form-row">
    <div class="form-group col-md-8">
      <input type="text" class="form-control" placeholder="Nome">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" placeholder="Cpf">
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control" placeholder="Rg">
    </div>

    <div class="form-group col-md-3">
      <select id="inputState" class="form-control">
        <option selected>Orgão Expeditor</option>
        <option>...</option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <input type="text" class="form-control" placeholder="Data Nascimento">
    </div>

    <div class="form-group col-md-3">
      <select id="inputState" class="form-control">
        <option selected>Sexo</option>
        <option>...</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Nome Mae">
    </div>

    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Nome Pai">
    </div>

    <div class="form-group col-md-8">
      <input type="text" class="form-control" id="inputAddress" placeholder="Endereço">
    </div>

    <div class="form-group col-md-4">
      <input type="text" class="form-control" placeholder="Cep">
    </div>

    <div class="form-group col-md-4">
      <select id="inputState" class="form-control">
        <option selected>Estado</option>
        <option>...</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <input type="text" class="form-control" id="inputAddress2" placeholder="Cidade">
    </div>

    <div class="form-group col-md-4">
      <input type="text" class="form-control" id="inputAddress2" placeholder="Bairro">
    </div>



    <div class="form-group col-md-6">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>

    <div class="form-group col-md-3">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Telefone">
    </div>

    <div class="form-group col-md-3">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Celular">
    </div>


    <div class="form-group qualificacao col-md-12">
      <h5>Minhas Qualificações</h5>

      <!-- <button type="button" class="btn btn-outline-primary button qualificacao" (click)="open()">Adicionar Qualificações</button> -->
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Selecione sua qualificação</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">JAVA</label>
      <div class="star-wrapper">
        <div class="star">
          <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
        </div>
        <div class="star">
          <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
        </div>
        <div class="star">
          <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
        </div>
        <div class="star">
          <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
        </div>
        <div class="star">
          <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
        </div>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">ANGULAR</label>
      <div class="star-wrapper">
        <div class="star">
          <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
        </div>
        <div class="star">
          <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
        </div>
        <div class="star">
          <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
        </div>
        <div class="star">
          <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
        </div>
        <div class="star">
          <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
        </div>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">.NET</label>
      <div class="star-wrapper">
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Jquery</label>
      <div class="star-wrapper">
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">CSS3</label>
      <div class="star-wrapper">
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">HTML5</label>
      <div class="star-wrapper">
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">JavaScript</label>
      <div class="star-wrapper">
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
          <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
          </div>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Node.Js</label>
      
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="c('Save click')">Save</button>
  </div>
</ng-template>