<style>
  /* .btnEnviar{
    margin-left: 10px;
  } */
</style>

<div class="container corpo">

  <div class="cabecalho ">
    <h1 class="cabecalho">Cadastro Funcionario</h1>
  </div>


  <div class="form-row">
    <div class="form-group col-md-8">
      <input type="text" class="form-control txtNome" placeholder="Nome">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control txtCpf" placeholder="Cpf">
    </div>
    <div class="form-group col-md-3">
      <input type="text" class="form-control txtRg" placeholder="Rg">
    </div>

    <div class="form-group col-md-3">
      <select id="inputState" class="form-control">
        <option selected>Orgão Expeditor</option>
        <option>...</option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <input type="text" class="form-control" placeholder="Data Nascimento" id="datepicker">
    </div>

    <div class="form-group col-md-3">
      <select id="inputState" class="form-control">
        <option selected>Sexo</option>
        <option>...</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <input type="text" class="form-control txtNomeMae" placeholder="Nome Mae">
    </div>

    <div class="form-group col-md-6">
      <input type="text" class="form-control txtNomePai" placeholder="Nome Pai">
    </div>

    <div class="form-group col-md-8">
      <input type="text" class="form-control txtEndereco" id="inputAddress" placeholder="Endereço">
    </div>

    <div class="form-group col-md-4">
      <input type="text" class="form-control txtCep" placeholder="Cep">
    </div>

    <div class="form-group col-md-4">
      <input type="text" class="form-control txtEstado" id="inputAddress2" placeholder="Estado">
    </div>

    <div class="form-group col-md-4">
      <input type="text" class="form-control txtCidade" id="inputAddress2" placeholder="Cidade">
    </div>

    <div class="form-group col-md-4">
      <input type="text" class="form-control txtBairro" id="inputAddress2" placeholder="Bairro">
    </div>



    <div class="form-group col-md-6">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>

    <div class="form-group col-md-3">
      <input type="email" class="form-control txtTelefone" id="inputEmail4" placeholder="Telefone">
    </div>

    <div class="form-group col-md-3">
      <input type="email" class="form-control txtTelefone" id="inputEmail4" placeholder="Celular">
    </div>


    <div class="row  offset-md-8">
      <div class="col-md-6 col">
        <button class="btn btn-success" (click)="open(content)">Cadastrar Qualificação</button>
      </div>
      <div class="col-md-1 btnForm">
        <button id="enviar" name="enviar" class="btn btn-primary btnEnviar">Cadastrar Funcionario</button>
      </div>
    </div>


  </div>
  <!-- <button type="submit" class="btn btn-primary">Cadastrar</button> -->
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Selecione sua qualificação</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- <img [src]="selectLinguagemImagem" *ngIf="selectedLinguagem !== null"> -->

    <ul *ngFor="let linguagem of linguagens" (mouseenter)=selectLinguagem(linguagem)>
      <div class="form-group form-check">
          <img [src]="selectLinguagemImagem">

        <div>
          <label class="form-check-label" for="exampleCheck1"><strong>{{linguagem.nome}}</strong></label>
          <div class="star-wrapper">
            <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
            </div>
            <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
            </div>
            <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
            </div>
            <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
            </div>
            <div class="star">
              <img src="http://i.stack.imgur.com/AtiAi.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</ng-template>